<title>{{ 'DDOS' | translate }}</title>

<div>
    <form>

        <!--<button data-ng-click="getLine()" type="button">{{ 'Get line' | translate }}</button>
        <button data-ng-click="uploadFile()" type="button">{{ 'Upload File' | translate }}</button>-->
        <!--<button data-ng-click="getGroupedSourceIps()" type="button">{{ 'Get grouped source ips' | translate }}</button>-->

        <div class="chart-size-medium">
            <div class="additionalChartInput">
                <label for="threshold">{{ 'THRESHOLD' | translate }}</label>
                <input id="threshold" type="text" data-ng-model="threshold" class="short-input">
            </div>
            <div class="additionalChartInput">
                <label for="amountToReturn">{{ 'Amount to return' | translate }}</label>
                <input id="amountToReturn" type="text" data-ng-model="amountToReturn" class="short-input">
            </div>
            <div class="additionalChartInput">
                <label for="amountToReturn">{{ 'Source' | translate }}</label>
                <input id="source" type="checkbox" data-ng-model="source" class="short-input">
            </div>
            <canvas id="bar" class="chart chart-bar"
                    chart-data="first_data" chart-labels="first_labels">
            </canvas>
        </div>

        <div class="chart-size-medium">
            <div class="additionalChartInput">
                <label for="timeFrom">{{ 'timeFrom' | translate }}</label>
                <input id="timeFrom" type="text" data-ng-model="timeFrom" class="short-input">
            </div>
            <div class="additionalChartInput">
                <label for="timeTo">{{ 'timeTo' | translate }}</label>
                <input id="timeTo" type="text" data-ng-model="timeTo" class="short-input">
            </div>
            <div class="additionalChartInput">
                <label for="increment">{{ 'increment' }}</label>
                <input id="increment" type="text" data-ng-model="increment" class="long-input">
            </div>
            <div>
                <div class="additionalChartInput">
                    <label for="seriesAIp">{{ 'seriesAIp' | translate }}</label>
                    <input id="seriesAIp" type="text" data-ng-model="seriesAIp" class="long-input">
                </div>
                <div class="additionalChartInput">
                    <label for="seriesASource">{{ 'seriesASource' | translate }}</label>
                    <input id="seriesASource" type="checkbox" data-ng-model="seriesASource" class="short-input">
                </div>
            </div>
            <div>
                <div class="additionalChartInput">
                    <label for="seriesBIp">{{ 'seriesBIp' | translate }}</label>
                    <input id="seriesBIp" type="text" data-ng-model="seriesBIp" class="long-input">
                </div>
                <div class="additionalChartInput">
                    <label for="seriesBSource">{{ 'seriesBSource' | translate }}</label>
                    <input id="seriesBSource" type="checkbox" data-ng-model="seriesBSource" class="short-input">
                </div>
            </div>
            <canvas id="line" class="chart chart-line" data-chart-data="second_data"
                    data-chart-labels="second_labels" data-chart-legend="true" data-chart-series="series"
                    data-chart-click="onClick">
            </canvas>
        </div>


        <!-- <div class="chart-size-medium">
             <canvas id="line" class="chart chart-line" data-chart-data="data"
                     data-chart-labels="labels" data-chart-legend="true" data-chart-series="series"
                     data-chart-click="onClick" >
             </canvas>
         </div>-->
    </form>
</div>
